<main class="container">
    <h1 class="title first-title">Hi. I'm Yonier.<br />A developer.</h1>
    <p class="description">
        I'm a software developer passionate about creating and improving platforms that seek to be intuitive, easy to
        use and useful for people.
    </p>

    <section class="skills">
        <div>Teamwork</div>
        <div>Problem solving</div>
        <div>Continuous learning</div>
        <div>Agile methodologies</div>
        <div>Web development</div>
        <div>Mobile development</div>
        <div>APIs</div>
        <div>Version control</div>
        <div>Code review</div>
        <div>CI/CD</div>
        <div>DevOps</div>
        <div>Cloud computing</div>
        <div>UX/UI</div>
        <div>Performance</div>
        <div>Responsive design</div>
        <div>Scalability</div>
        <div>Microservices</div>
        <div>Machine learning</div>
    </section>

    <h1 class="title">Experience</h1>
    <section class="experiences">
        <section class="experience">
            <div>
                <img src="img/international.png" alt="International" />
            </div>
            <span>Curso intensivo desarrollo web (Argentina) <span class="experience-date">(2020)</span></span>
        </section>
    </section>
</main>
