<main class="container">
    <!-- Title and description -->
    <h1 class="title first-title">Hi. I'm Yonier.<br />A developer.</h1>
    <p class="description">
        I'm a software developer passionate about creating and improving platforms that seek to be intuitive, easy to
        use and useful for people.
    </p>

    <!-- All the skills -->
    <section class="skills">
        <div *ngFor="let skill of skills">{{ skill }}</div>
    </section>

    <!-- Experiences -->
    <h1 class="title">Experience</h1>

    <section class="experiences">
        <section *ngFor="let experience of experiences" class="experience">
            <div>
                <img src="{{ experience.imgUrl }}" alt="{{ experience.imgAlt }}" />
            </div>
            <span>
                {{ experience.title }}
                <span class="experience-date">({{ experience.date }})</span>
            </span>
        </section>
    </section>

    <!-- Projects -->
    <h1 class="title">Projects</h1>
    <section class="experiences">
        <section
            *ngFor="let project of projects"
            class="experience card-pointer"
            (click)="openProject(project.url)"
            title="Visit page"
        >
            <div>
                <img src="{{ project.imgUrl }}" alt="{{ project.imgAlt }}" />
            </div>
            <span>
                {{ project.title }}
                <span class="experience-date">({{ project.date }})</span>
            </span>
        </section>
    </section>
</main>
