.container {
    gap: 8rem;
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
}

.title {
    margin: 0;
    font-size: 6rem;
    color: #0a470a;
    text-align: center;
}

.first-title {
    margin-top: 8rem;
}

.description {
    font-weight: 500;
    color: #1f4615;
    font-size: 1.2rem;
    text-align: center;
}

.skills {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
        color: white;
        font-size: 1.2rem;
        padding: 2rem 3rem;
        border-radius: 1rem;
        background-color: #116b11;
    }
}

.experiences {
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience {
    gap: 2rem;
    width: 600px;
    display: flex;
    height: 13rem;
    border-radius: 2rem;
    background-color: #4565cd;

    div {
        height: 100%;

        img {
            height: 100%;
            border-radius: 2rem 0 0 2rem;
        }
    }

    span {
        gap: 1rem;
        display: flex;
        color: white;
        font-weight: 500;
        font-size: 1.4rem;
        margin-right: 2rem;
        align-items: baseline;
        flex-direction: column;
        justify-content: center;

        span {
            font-weight: 100;
        }
    }
}

.card-pointer {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
}